<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <title>Document</title>
  <style>
    p{
      text-align: left
    }
    .h3{
      display: block;
      font-size: 1.17em;
      margin-top: 1em;
      margin-bottom: 1em;
      margin-left: 0;
      margin-right: 0;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div style="text-align:center">
    <h1>Search Rusults</h1>
    <h3>U r looking for a  "{{searchingBy}}"  job and  "{{amount_of_jobs}}"  jobs r searched </h3>
    <a href="../" >&larr; Go Back Home</a>
    <br/>
    <a href="/export?word={{searchingBy}}">&larr; Download with CSV</a>
  </div>
  <br>
  <div >
    <section >
      {% for i in job_list%}
        <p class="h3" >{{i.title}} </p>
        <p> {{i.company}}</p>
        <p><a class="link" href="{{i.link}}" target="_blank"> Apply </a></p>
      <hr>
      {% endfor %}
    </section>
  </div>
</body>
</html>